
@font-face {

	font-family: "trebuc";
	src: url('trebuc.ttf');
}

@font-face {

	font-family: "brlnsr";
	src: url('BRLNSR.ttf');
}

@font-face {

	font-family: "refsan";
	src: url('REFSAN.ttf');
}

@font-face {

	font-family: "consola";
	src: url('consola.ttf');
}

.bg-lavender {

	background-color: lavender;
}

.nav-item {

	color: inherit;
	text-decoration: none;
}

.nav-item:hover {

	color: inherit;
	text-decoration: none;
}

[src="css/logo_rumongso1.png"] {

	opacity: 0;
	bottom: 10px;
	position: relative;
	transition: all 0.3 ease-out 0s;
}

.navbar-expand [src="css/logo_rumongso1.png"] {

	width: 40%;
}

.navbar-expand-lg [src="css/logo_rumongso1.png"] {

	width: 150px;
}

.navbar-expand .nav-item {

	font-size: 1.55vw;
	transform: scale(0.98,0.98);
	transition: transform 0.3s ease-out 0s;
	font-family: "consola";
	position: relative;
	top: -7px;
	opacity: 0;
}

.navbar-expand .nav-item:hover {

	color: darkgreen;
	cursor: pointer;
	transform: scale(1.015,1.015);
}

.nav-item .line-navbar-menu {

	width: 0%;
	height: 2px;
	transition: width 0.3s ease-out 0s;
	position: relative;
	top: 3px;
}

.button-toggler {

	width: 45px;
	position: relative;
	left: 15px;
	opacity: 0;
	bottom: 10px;
}

.line-toggler {

	width: 55%;
	height: 2px;
	position: relative;
	bottom: 1px;
	transform-origin: right;
	transform: rotate(0deg);
	opacity: 1;
	transition: all 0.3s ease-out 0s;
}

.nav-collapse .nav-item {

	/*width: 70%;*/
	/*padding-left: 20px;*/
	font-family: "consola";
	font-size: 17px;
	position: relative;
	left: 5px;
}

.nav-collapse .nav-item:hover {

	color: black;
}

.nav-collapse {

	width: 160px;
	height: 1%;
	position: fixed;
	top: 63px;
	left: -300px;
	overflow: hidden;
	z-index: 10;
}

section.font-title {

	font-size: 2.5vw;
	font-family: "trebuc";
}

.line-pagination {

	height: 3%;
}

ul.pagination {

	z-index: 0;
}

/*.page-item:hover {

	cursor: pointer;
}*/

@media only screen and (min-width: 992px) and (max-width: 1199px) {

	.navbar-expand [src="css/logo_rumongso1.png"] {

		width: 45%;
	}

	.navbar-expand .nav-item {

		font-size: 1.77vw;
		top: 3px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

	.navbar-expand-lg [src="css/logo_rumongso1.png"] {

		width: 190px;
	}

	.line-toggler {

		bottom: 1px;
	}

	.nav-collapse {

		width: 190px;
	}

	.nav-collapse .nav-item {

		font-size: 20px;
	}

	section.font-title {

		font-size: 2.7vw;
	}

	.nav-collapse {

		top: 78px;
	}

}

@media only screen and (min-width: 576px) and (max-width: 767px) {


}

@media only screen and (min-width: 0px) and (max-width: 575px) {

	section.font-title {

		font-size: 4.7vw;
	}
}